/* home.css */

.home-container {
  width: 100%;
  /* height: 100vh; */
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* .home-banner-img {
  width: 100%;
  height: 100%;

} */

.home-banner-img img {
  width: 100%;
  object-fit: cover;
  display: block;
}

