/* Container */
.home-container {
  width: 100%;
  overflow-x: hidden;
}

/* Banner */
.home-banner {
  background: url('/img/red_yellow_nike_shoe_in_black_background_4k_8k_hd_nike-3840x2160.jpg')
    no-repeat center center/cover;
  height: 99vh;
  display: flex;
  align-items: center;
  padding: 0 150px;
  color: white;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

/* Dark overlay */
.home-banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* Text */
.home-text {
  position: relative;
  z-index: 2;
  max-width: 600px;
}

.home-text h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.home-text h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.2;
}

/* Button */
.checkout-btn {
  background: #ff6347;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 1.2rem;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.3s;
}

.checkout-btn:hover {
  background: #e5533b;
}

/* --------------------------------------------- */
/* RESPONSIVE MOBILE VIEW */
/* --------------------------------------------- */

/* Tablets */
@media (max-width: 1024px) {
  .home-banner {
    padding: 0 60px;
  }

  .home-text h1 {
    font-size: 2.8rem;
  }
}

/* Mobile Devices */
@media (max-width: 768px) {
  .home-banner {
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    height: 30vh !important;
  }

  /* .home-banner {
    height: 100px !important;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
  }

  .home-text {
    display: none;
  } */

  .home-text {
    max-width: 90%;
    margin-top: 50px;
  }

  .home-text h4 {
    font-size: 1rem;
  }

  .home-text h1 {
    font-size: 2rem;
    line-height: 1.3;
  }

  .checkout-btn {
    font-size: 1rem;
    padding: 10px 24px;
  }
}

/* Extra Small Screens (Phones under 480px) */
@media (max-width: 480px) {
  .home-banner {
    height: 75vh;
    padding: 0 10px;
  }

  .home-text h1 {
    font-size: 1.6rem;
  }

  .checkout-btn {
    padding: 8px 20px;
    font-size: 0.9rem;
  }
}
